<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="备份表程序.Properties.Settings.CardqsConnectionString"
            connectionString="Data Source=CARDQS_172.16.129.169;Persist Security Info=True;User ID=cardqs;Password=cardqs;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>