<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="jayrock-json" version="0.9.16530.1" targetFramework="net452" />
  <package id="log4net" version="2.0.14" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="19.3.0" targetFramework="net452" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net452" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="96.0.4664.4500" targetFramework="net452" />
</packages>